/*--font--*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');

body{
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;

}
/*banner section*/
.banner{
    display: flex;
    background-color:black;
    margin: 5% 0%;
    border-radius: 10px;
    height: 400px;
  
}
.text{
    color: white;
    padding: 4% 9%;

}
.text h1{
    font-size: 40px;
}
.color {
    
        background-color: rgba(221, 0, 0, 1); /* red */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;     
}
.color:hover{
    background-color:#002ead;
    transition: 1.7s;
}
.banner_img{
    padding: 0% 5%;
    margin: 57px 0px 0px 0px;
}

/*...match section..*/

.blog{
    display: flex;
    width: 100%;
}
.menu-bar{
    height: 252px;
    width: 224px;
    background-color: black;
    text-decoration: none;
    border-radius: 5%;
    text-align: center;
}
.menu a {
    background-color: rgb(246, 246, 246); /* red */
    border: none;
    color: rgb(14, 13, 13);
    padding: 17px 17px 17px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    border-radius: 15px; 
    margin: 30px 15px 0px 30px; 
    
}
.menu .group{
     margin-top: 7%;
     padding: 17px 40px 17px 59px;
     
}
.menu .color{
    margin-top: 15px;
    padding: 17px 64px 17px 63px;
}


.matchs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 100px;
    margin-left: 8px;
}
.match {
    
    width: 251px;
    height: 281px;
    margin-left: 8px;
    border-radius: 3%;
    box-shadow: 0px 5px 5px 0px  rgb(126, 118, 118); 
    margin-bottom: 4%;
}
.match h3{
    font-size: 18px; 
    padding: 0px 8px 0px 8px;
}
.match img{
    width: 250px;
}
.match a{
    background-color: rgb(246, 246, 246); 
    border: rgb(230, 222, 222) solid ;
    color: rgb(14, 13, 13);
    padding: 5px 17px 5px 17px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    border-radius: 5px; 
    margin-left: 9px;
}
.icon i{
    padding: 0px 5px 10px 14px;
    margin-bottom: 5%;
}